<section class="no-padding" id="clientes">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="http://compre.io/voudemarisa?utm_source=compreio" class="portfolio-box" target="_blank">
                    <img src="img/portfolio/marisa.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                @voudemarisa
                            </div>
                            <div class="project-name">
                                Marisa
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="http://compre.io/luizabarcelos?utm_source=compreio" class="portfolio-box" target="_blank">
                    <img src="img/portfolio/luiza-barcelos.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                @luizabarcelos
                            </div>
                            <div class="project-name">
                                Luiza Barcelos
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="http://compre.io/taniabulhoes?utm_source=compreio" class="portfolio-box" target="_blank">
                    <img src="img/portfolio/tania-bulhoes.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                @taniabulhoes
                            </div>
                            <div class="project-name">
                                Tania Bulhões
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="http://compre.io/skazioficial?utm_source=compreio" class="portfolio-box" target="_blank">
                    <img src="img/portfolio/skazi.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                @skazioficial
                            </div>
                            <div class="project-name">
                                Skazi
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="http://compre.io/caliwoostore?utm_source=compreio" class="portfolio-box" target="_blank">
                    <img src="img/portfolio/caliwoo.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                @caliwoostore
                            </div>
                            <div class="project-name">
                                Caliwoo
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="http://compre.io/ladylizloja?utm_source=compreio" class="portfolio-box" target="_blank">
                    <img src="img/portfolio/ladyliz.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                @LadyLizLoja
                            </div>
                            <div class="project-name">
                                Lady Liz
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
