<section id="planos">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Planos</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row no-gutter flat">
            <div class="col-lg-4 col-sm-4 col-xs-12">
                <ul class="plan plan1">
                    <li class="plan-name">
                        Prata
                    </li>
                    <li class="plan-price">
                        <div class="old-price">R$129</div>
                        R$<strong>99</strong> / mês
                        <div class="try-text">Primeiro Mês Grátis</div>
                    </li>
                    <li>
                        compre.io/seuinstagram
                    </li>
                    <li>
                        Customize suas cores
                    </li>
                    <li>
                        Relátorios
                    </li>
                    <li>
                        &nbsp;
                    </li>
                    <li>
                        &nbsp;
                    </li>
                    <li class="plan-action">
                        <a href="#" class="btn btn-danger btn-lg btn-outline" data-toggle="modal" data-target="#sign">Experimente Já!</a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-4 col-sm-4 col-xs-12">
                <ul class="plan plan2 featured">
                    <li class="plan-name">
                        Ouro
                    </li>
                    <li class="plan-price">
                        <div class="old-price">R$199</div>
                        R$<strong>149</strong> / mês
                        <div class="try-text">Primeiro Mês Grátis</div>
                    </li>
                    <li>
                        seuinstagram.compre.io
                    </li>
                    <li>
                        Customize suas cores
                    </li>
                    <li>
                        Relátorios
                    </li>
                    <li>
                        Destaque de Produtos
                    </li>
                    <li>
                        Newsletter (capture emails)
                    </li>
                    <li class="plan-action">
                        <a href="#" class="btn btn-danger btn-lg wow tada" data-toggle="modal" data-target="#sign">Experimente Já!</a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-4 col-sm-4 col-xs-12">
                <ul class="plan plan3">
                    <li class="plan-name">
                        Platinum
                    </li>
                    <li class="plan-price">
                        <div class="old-price">R$299</div>
                        R$<strong>249</strong> / mês
                        <div class="try-text">Primeiro Mês Grátis</div>
                    </li>
                    <li>
                        seuinstagram.seudominio.com.br
                    </li>
                    <li>
                        Customize suas cores
                    </li>
                    <li>
                        Relátorios
                    </li>
                    <li>
                        Destaque de Produtos
                    </li>
                    <li>
                        Newsletter (capture emails)
                    </li>
                    <li class="plan-action">
                        <a href="#" class="btn btn-danger btn-lg btn-outline" data-toggle="modal" data-target="#sign">Experimente Já!</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
