<!-- jQuery -->
<script src="_assets/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="_assets/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="_assets/js/jquery.easing.min.js"></script>
<script src="_assets/js/jquery.fittext.js"></script>
<script src="_assets/js/wow.min.js"></script>
<script src="_assets/js/jquery.validate.min.js"></script>
<script src="_assets/js/sweetalert.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="_assets/js/creative.js"></script>
<script src="_assets/js/application.js"></script>
