<section class="bg-primary" id="sobre">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Nós temos o que seu negócio precisa!</h2>
                <hr class="light" />
                <div class="col-md-6">
                    <p class="text-faded">
                        O Compre.io é uma plataforma integrada ao Instagram que visa aumentar a taxa de conversão nas lojas virtuais. O Instagram é uma ótima ferramenta para capitação de leads e possui um vasto feed de imagens, mas como transformar esses leads em clientes?
                    </p>
                </div>
                <div class="col-md-6">
                    <p class="text-faded">
                        Já imaginou quantos clientes gostaram de um produto, quiseram comprar e ao acessar o site não encontraram? E quantos desistiram da compra nesse processo de fechar o aplicativo, abrir o navegador, utilizar a ferramenta de busca... Muito complexo e demorado, certo?
                    </p>
                </div>
                <div class="col-md-12">
                    <h3>Foi pensando nisso, que surgiu o Compre.io !</h3>
                    <hr class="light" />
                    <p class="text-faded">
                        Ao invés de usar o link para a loja virtual, a marca troca o link do perfil do Instagram para sua pagina do Compre.io (por exemplo: <a style="color: #fff" href="http://compre.io/caliwoostore">http://compre.io/caliwoostore</a>). O processo é bem simples, o cliente visualiza a foto, curte e clica no link. Na página do Compre.io, o cliente visualiza o mesmo feed de imagens do Instagram, mas com uma grande diferença, as imagens são links diretos para a página do produto. Em segundos o cliente sai do Instagram e está pronto para finalizar a compra.
                    </p>
                </div>
                <a href="#planos" class="btn btn-default btn-xl page-scroll" data-toggle="modal" data-target="#sign">Exprimente Grátis por 30 dias</a>
            </div>
        </div>
    </div>
</section>
